body {
    display: grid;
    grid-template-columns: 1fr 16fr;
    grid-template-rows: 1fr 1fr 6fr 1fr;
}

.home > div {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    justify-items: start;
    align-items: center;
}

.home button {
    font-size: 16pt;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 50%;
}

.search input {
    width: 90%;
    padding: 0.5em;
}

.title {
    font-weight: bold;
    font-size: 28pt;
    background-color: #0084FF;
    text-align: center;
    padding: 0.5em;
    width: 50%;
    grid-column: 1 / 3;
    place-self: center;
}

.add {
    position: absolute;
    top: 8%;
    left: 12%;
    width: 10%;
    aspect-ratio: 1 / 1;
    font-weight: bold;
    font-size: 50pt;
}

.container {
    margin: 3em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    border: 1px solid black;
    background-color: #0084FF;
    overflow-y: scroll;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 1em;
}

.player {
    grid-column: 1 / 3;
    margin: 1em;
    background-color: #0084FF;
    border-radius: 0.5em;
    border: 1px solid black;
    padding: 1em;
}

.player audio {
    width: 100%;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    gap: 1em;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 0.5em;
    border: 1px solid black;
}

.container > .music {
    font-size: 16pt;
    margin-bottom: 0.3em;
    display: flex;
    gap: 0.5em;
    width: 100%;
}

.container .music > .title {
    text-align: center;
    border-radius: 0.5em;
    border: 1px solid black;
    padding: 1em;
    font-size: 14pt;
    word-wrap: break-word;
    width: 85%;
}

.container .music > button {
    align-self: center;
    font-size: 20pt;
}
