body {
    display: grid;
    grid-template-columns: 1fr 16fr;
    grid-template-rows: 1fr 1fr 6fr;
}

.home > div {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    justify-items: start;
    align-items: center;
}

.home button {
    font-size: 16pt;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 50%;
}

.search input {
    width: 90%;
    padding: 0.5em;
}

.title {
    font-weight: bold;
    font-size: 28pt;
    background-color: #0084FF;
    text-align: center;
    padding: 0.5em;
    width: 50%;
    grid-column: 1 / 3;
    place-self: center;
}

.add {
    position: absolute;
    top: 10%;
    left: 12%;
    width: 10%;
    aspect-ratio: 1 / 1;
    font-weight: bold;
    font-size: 50pt;
}

.container {
    margin: 3em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    border: 1px solid black;
    background-color: #0084FF;
    grid-column: 1 / 3;
    padding: 1em;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.container iframe {
    width: 640px;
    height: 360px;
    padding: 1em;
    border-right: 1px solid black;
    border-top: none;
    border-left: none;
    border-bottom: none;
}

.container .list {
    display: flex;
    flex-direction: column;
    padding: 1em;
    overflow-y: scroll;
    height: 100%;;
}

.container .video {
    display: flex;
    gap: 0.5em;
    height: 20%;
}

.container .video .play {
    padding: 0em;
    flex-grow: 1;
    flex: 2;
}

.container .video .play img {
    width: 100%;
    margin: 0em;
}

.container .video :not(.title) {
    align-self: center;
}

.container .video > .title {
    flex-grow: 1;
    text-align: center;
    border-radius: 0.5em;
    border: 1px solid black;
    padding: 1em;
    font-size: 10pt;
    word-wrap: break-word;
    flex: 4;
}

.container .list .video button:not(.play) {
    flex: 1;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    gap: 1em;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 0.5em;
    border: 1px solid black;
}

